* {
    color: white;
    font-family: 'Srisakdi', cursive;
}

body, html {
    height: 100%;
    margin: 0;
}

.background {
    background-image: url("../images/gem_background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

@media only screen and (max-width: 980px) {

}
@media only screen and (max-width: 768px) {

}    
@media only screen and (max-width: 640px) {
    #gem {
        height: 2em;
        width: 2em;
    }
    #title {
        height:3em;
        width: 3em;
    }
}